{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
    我的网站|首页
{% endblock %}

{% block header_extends %}
    <link rel="stylesheet" href="{% static 'home.css' %}">
    <script src="http://cdn.highcharts.com.cn/highcharts/highcharts.js"></script>
{% endblock %}

{% block nav_home_active %}
    active
{% endblock %}

{% block content %}
    <h3 class="home-content">欢迎访问我的网站, 随便看</h3>
    <!-- 图表容器 DOM -->
    <div id="container"></div>
    <script>
        // 图表配置
        var options = {
            chart: {
                type: 'line'                          //指定图表的类型，默认是折线图（line）
            },
            title: {
                text: null               // 标题
            },
            xAxis: {
                categories: {{ dates|safe }},   // x 轴分类
                {#tickmarkPlacement: 'on'#}
            },
            yAxis: {
                title: {text: null},
                labels: {enabled: false},
                gridLineDashStyle: 'Dash'
            },
            plotOptions: {
                line: {
                    dataLabels: {
                        enabled: true
                    }
                }
            },
            series: [{                              // 数据列
                name: '阅读量',                        // 数据列名
                data: {{ read_nums }}                    // 数据
            }],
            legend: {enabled: false},
            credits: {enabled: false}
        };
        // 图表初始化函数
        var chart = Highcharts.chart('container', options);
    </script>

    <div class="hot-data">
        <h3>今日热门博客</h3>
        <ul>
            {% for data in today_data %}
                <li>
                    <a href="{% url 'blog_detail' data.content_object.pk %}">
                        {{ data.content_object.title }}({{ data.read_num }})
                    </a>
                </li>
            {% empty %}
                <li>今日没有热门博客</li>
            {% endfor %}
        </ul>
    </div>
    <div class="hot-data">
        <h3>昨日热门博客</h3>
        <ul>
            {% for data in yesterday_data %}
                <li>
                    <a href="{% url 'blog_detail' data.content_object.pk %}">
                        {{ data.content_object.title }}({{ data.read_num }})
                    </a>
                </li>
            {% empty %}
                <li>昨天没有热门博客</li>
            {% endfor %}
        </ul>
    </div>
    <div class="hot-data">
        <h3>最近一周热门博客</h3>
        <ul>
            {% for blog in seven_days_blogs %}
                <li>
                    <a href="{% url 'blog_detail' blog.id %}">
                        {{ blog.title }}({{ blog.read_num_sum }})
                    </a>
                </li>
            {% empty %}
                <li>最近一周没有热门博客</li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
